.gradient-custom-2 {
    background: #fccb90;
}


.gradient-custom-5 {
    background: #bcb7b2;
}

.gradient-custom-4 {
    background: linear-gradient(to bottom, #97908a, #82888c80);
}


@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


/* background colour for header */
.bgHeader {
    background: linear-gradient(to bottom, #f36b74, #f371ae, #7d87f1);

}


#highlight a:hover {
    transition: 0.3;
    background-color: rgba(125, 135, 241, .5);
}

#enlargeFont a:hover {
    background-color: rgba(125, 135, 241, 1);

}


/* add by xiao move from html */
.card{
    background-image: url("../images/pixelHeartGradientLowAlpha.png"); 
    background-size:150%;
    background-repeat: repeat-y; 
    background-position-x: 57%; 
    background-position-y: 5%;
}

.card-body{
    background-color:rgba(255, 255, 255, 0.05); 
    border-radius:10px; 
    padding:5px;
}

.boldTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200%; 
    letter-spacing: 0.2em;
    padding-top: 15px; 
    padding-bottom:25px; 
    text-shadow:1px 1px rgba(0, 0, 0, 0.133);
}


table.right{
    width: 35%;
    position:absolute;
    right: 0%;
}
table.right td{
    width: 33.33%;
    text-align: center;
    padding: 5px;
}
table.left{
    width: 15%;
    position:absolute;
    left: 0%;
}
table.left td{
    width: 50%;
    text-align: left;
    padding: 5px;
}

.bannerLink{
    color: white;
    text-decoration: none;
}

.gradient-custom-3 {
    background: rgba(125, 135, 241, 1);;
}

body{
    background-color: #f2f3fa;
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
}


/* add by xiao */
header a{
    font-size:large;
}

.btnAdmin{
    width: 70%;
    background-image: radial-gradient(100% 100% at 100% 0, rgba(125, 135, 241, 1) 0, rgb(141, 186, 238) 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: white;
    font-weight:bolder;
    letter-spacing:0.3em;
}


.btnAdmin:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.btnAdmin:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnAdmin:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


input[type = submit],.addBtn{
    background-color:rgba(125, 135, 241, 1) ;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 1px 2px,rgba(45, 35, 66, .3) 0 2px 4px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: white;
    font-weight:bolder;
    letter-spacing:0.1em;
}

.queryTable{
    width: 90%;
    text-align: center;
}

.queryTable tbody{
    width: 100%;
    display: table;
}


.queryTable tr:nth-child(odd){
    background-color: rgba(125, 135, 241, 1);
}
.queryTable tr:nth-child(odd) a{
    color:rgb(36, 36, 156);
}

.queryTable td{
    padding-left:20px;
    padding-right:20px;
}

.addBtn{
    align-items: center;
}



/* styles for search blood page */
#TableBloodStock{
    width: 90%;
    text-align: center;

}

#TableBloodStock tr td:nth-child(odd),
#TableBloodStock tr th:nth-child(odd)
{
    background-color: rgba(125, 135, 241, 1);
}









